<div class="container py-3 px-4 h-100">
  <div class="jumbotron py-5">
    <h1 class="headline">{{currSource.title}}</h1>
  </div>
  <div class="panel panel-primary">
    <div class="panel-body">
      <editor
        [init]="{
          base_url: '/tinymce',
          suffix: '.min',
          height: 500,
          menubar: false,
          placeholder: 'Comece a escrever seu documento aqui',
          plugins: [
            'advlist autolink lists link image charmap print',
            'preview anchor searchreplace visualblocks code',
            'fullscreen insertdatetime media table paste',
            'help wordcount'
          ],
          toolbar:
            'undo redo | formatselect | bold italic | \
            alignleft aligncenter alignright alignjustify | \
            bullist numlist outdent indent | help'
        }"
        [(ngModel)]="currSource.content"
      >
      </editor>
    </div>
    <div class="d-flex justify-content-between mt-3">
      <button mat-flat-button color='primary' type='button' [disabled]='!verifyFields()' (click)='updateFile()'>Salvar documento</button>
    </div>
  </div>
</div>
