.tree-view .mat-tree {
  height: 100%;
}

.tree-view .dragger {
  display: none;
  position: absolute;
  z-index: 1000;
  background: gray;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  transition: opacity, filter 250ms;
  white-space: nowrap;
}

.tree-view .mat-expansion-panel {
  border-radius: 0;
}

.tree-view .mat-expansion-panel .mat-expanded {
  height: 48px;
}

.tree-view .mat-expansion-panel .mat-expansion-panel-body {
  padding: 0;
  margin: 0;
}

.tree-view .mat-expansion-panel-header.mat-expanded:hover {
  background: rgba(0,0,0,.04);
}

.tree-view .toggle-sidenav {
  position: absolute;
  top: 50%;
  left: calc(100% - 20px);
  z-index: -1;
  cursor: pointer;
  transition: all 250ms;
  transition-delay: 1s;
}

.tree-view .toggle-sidenav.hovered,
.tree-view:hover .toggle-sidenav {
  left: calc(100% + 10px);
  transition-delay: 0s;
}

.tree-view .example-tree-invisible {
  display: none;
}

// .tree-view mat-nested-tree-node {
//   display: block;
//   top: -24px;
// }

// .tree-view ul, .tree-view li {
//   list-style: none;
//   margin: 0;
//   padding: 0;
// }

// .tree-view mat-tree > mat-nested-tree-node,
// .tree-view mat-tree > mat-tree-node {
//   border-bottom: 1px solid #333;
// }

// .tree-view mat-tree-node,
// .tree-view ul,
// .tree-view mat-nested-tree-node {
//   cursor: pointer;
//   transition: all 150ms;
// }

// .tree-view mat-tree-node:hover,
// .tree-view mat-nested-tree-node li span:hover {
//   background: #eee;
// }

// .tree-view span.mat-tree-node {
//   padding: 0 10px;
//   user-select: none;
// }

// .tree-view ul {
//   margin: 0;
// }

// .tree-view li {
//   padding-left: 10px;
//   border: 1px dotted grey;
//   border-width: 0 0 1px 1px;
//   position: relative;
//   top: -24px;
//   list-style-type: none;
// }

// .tree-view li.mat-tree-node,
// .tree-view li span {
//   margin: 0;
//   position: relative;
//   top: 24px;
// }

////////////////////////////////////////////////////////////////////

// .tree-view mat-tree {
//   margin-left: 10px;
// }

// .tree-view .nested-node {
//   padding-left: 10px;
// }

// .tree-view .mat-nested-tree-node {
//   top: -24px;
// }

// .tree-view .mat-tree-node {
//   padding: 0;
//   background: white;
// }

// .tree-view ul, .tree-view li {
//   list-style: none;
//   margin: 0;
//   padding: 0;
// }

// .tree-view ul {
//   padding-left: 10px;
// }

// .tree-view li {
//   padding-left: 10px;
//   border: 1px dotted grey;
//   border-width: 0 0 1px 1px;
//   position: relative;
//   top: -24px;
// }

// .tree-view li.mat-tree-node,
// .tree-view li span {
//   margin: 0;
//   position: relative;
//   top: 24px;
// }

// .tree-view li ul {
//   border-top: 1px dotted grey;
//   margin-left: -10px;
//   padding-left: 20px;
// }

// .tree-view .mat-nested-tree-node:last-child ul {
//   border-left: 1px solid white;
//   margin-left: -11px;
// }

.tree-view mat-tree {
  margin-left: 10px;
}

.tree-view ul, .tree-view li {
  list-style: none;
  margin: 0;
  padding: 0;
}

// .tree-view .mat-tree-node {
//   background: white;
// }

// .tree-view mat-tree > .mat-nested-tree-node * li,
.tree-view mat-tree > .mat-nested-tree-node * ul {
  margin-left: 10px;
  border-left: 1px solid black;
  // border: 1px dotted grey;
  // border-width: 0 0 1px 1px;
}

.tree-view mat-tree > .mat-nested-tree-node * .mat-nested-tree-node span::before {
  content: '';
  width: 10px;
  height: 1px;
  background-color: black;
  margin-right: 5px;
}

