<div class='content-wrapper'>
  <mat-toolbar color='primary' class='navbar'>
    <button class="mx-2 menuButton" mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/projects">
      <div class="d-flex"><img class="logo" src="../../../assets/logos/logo1.svg" alt="logo"><h1 class='my-auto ml-2 text-light'>Qualidata</h1></div>
    </a>
    <small *ngIf="authService.user" class="ml-3 text-light username">{{authService.user.email}}</small>
    <button class="ml-auto mr-3 text-light user-button" mat-flat-button disableRipple type="button" (click)="saveChanges()">Save</button>
    <button *ngIf="!authService.user" class="mr-3 text-light user-button" mat-flat-button disableRipple type="button" (click)="loginUser()">Login</button>
    <button *ngIf="authService.user" class="mr-3 text-light user-button" mat-flat-button disableRipple type="button" (click)="logoutUser()">Logout</button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" style="min-width: 320px;">
    <mat-sidenav #snav
      [mode]="'side'"
      class="sidenav"
      opened
    >
      <mat-nav-list>
        <div>
          <div *ngFor="let item of navItems">
            <a mat-list-item  [routerLink]="item.route" class="nav-item">
              <mat-icon>{{item.icon}}</mat-icon> {{item.text}}
            </a>
          </div>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class='content'>
        <ng-content></ng-content>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
