@import '../../../styles.scss';

.content-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.content-wrapper .navbar {
  position: sticky;
  top: 0;
  height: 60px;
}

.content-wrapper .navbar .logo {
  width: 30px;
  filter: invert(1);
}

.content-wrapper .navbar .username {
  line-height: normal;
}

.content-wrapper .navbar .user-button {
  outline: none;
  background: none;
  border-radius: 10px;

  &:hover {
    background: rgba(mat-color($candy-app-primary, darker), 0.6);
  }

  &:active {
    background: mat-color($candy-app-primary, darker);
  }

  &:focus {
    box-shadow: none;
    background: none;
  }
}

.content-wrapper .navbar .router-button {
  background: white;
  width: 150px;
  color: #333;
  transition: all 150ms;
  box-shadow: none;
  border-radius: 10px;

  &:hover {
    box-shadow: 2px 2px 3px 0px #666;
    transform: translateX(-2px) translateY(-2px);
  }

  &:active {
    box-shadow: 1px 1px 3px 0px #666;
    transform: translateX(0) translateY(0);
  }
}

.content-wrapper .content {
  height: calc(100% - 60px);
}
