<div class="projects-wrapper w-100 h-100 d-flex flex-column align-items-center">
  <div class="header-wrapper p-4 d-flex align-items-center w-100">
    <img class="logo" src="../../../assets/logos/logo1.svg" alt="logo">
    <span class="logo-name ml-2">Qualidata</span>
  </div>
  <div class="projects-content-wrapper d-flex justify-content-between">
    <div class="d-flex flex-column">
      <span class="title">Projects</span>
      <span class="subtitle">Your Qualidata projects</span>
    </div>
    <div class="add-projects-wrapper d-flex flex-column justify-content-start align-items-start">
      <div class="add-projects d-flex align-items-center pl-2 mt-3">
        <img src="../../../assets/icons/add-white-48dp.svg" alt="add-icon"/>
        <span class="ml-3">Create a new project</span>
      </div>
      <div class="projects-list w-100 d-flex flex-column">
        <span class="project" *ngFor="let project of projects" >
          <a *ngFor="let project of projects" routerLink="./{{project.id}}">{{project.name}}</a></span>
      </div>
    </div>
  </div>
  <canvas class="canvas" #projectCanvas></canvas>
</div>
