<div class='formDialog'>
  <h1 mat-dialog-title>Novo código</h1>
  <div mat-dialog-content class="d-flex flex-column">
    <form [formGroup]="codeForm" class="d-flex flex-column" (ngSubmit)="submit()">
      <span class="my-2 d-flex flex-row align-items-center">
        <mat-form-field class='flex-grow-1' appearance="fill">
          <mat-label>Título</mat-label>
          <input matInput formControlName="title">
          <mat-error *ngIf="codeForm.get('title').invalid">Escreva o título de seu código</mat-error>
        </mat-form-field>
        <button mat-icon-button
          type="button"
          class='ml-2'
          [(colorPicker)]="selectedColor"
          [cpCancelButton]="true"
          [cpOKButton]="true"
          [cpOutputFormat]="'hex'"
          [cpAlphaChannel]="'disabled'"
          (colorPickerChange)="selectedColor = $event"
        >
          <mat-icon [ngStyle]="{'color': selectedColor}">stop_circle</mat-icon>
        </button>
      </span>
      <mat-form-field class='flex-grow-1' appearance="fill">
        <mat-label>Descrição</mat-label>
        <textarea matInput class="formArea" formControlName="description"></textarea>
        <mat-error  *ngIf="codeForm.get('description').invalid">Escreva a descrição de seu código</mat-error>
      </mat-form-field>
      <mat-dialog-actions class="mb-0">
        <button mat-flat-button (click)="dialogRef.close()">Cancelar</button>
        <button class="primaryButton" mat-raised-button type="submit" value="Submit">Criar código</button>
      </mat-dialog-actions>
    </form>
  </div>
</div>
