<div class="container py-3 px-0 h-100">
  <div class="jumbotron py-5">
    <div>
      <h1 class="headline">{{currProject.name}}</h1>
      <p class="description">{{currProject.description}}</p>
    </div>
    <button class='jumbotronButton px-3 py-1' mat-flat-button type='button' routerLink='./new'>
      <mat-icon>add</mat-icon> Nova fonte de pesquisa
    </button>
  </div>
  <div>
    <mat-nav-list>
      <mat-list-item *ngFor="let source of sources">
        <a matLine routerLink='./{{source.id}}/edit'>
          <span>
            {{source.title}}
            <button class="listButton" mat-icon-button (click)="showInfo(link)">
              <mat-icon>info</mat-icon>
            </button>
          </span>
        </a>
        <button mat-icon-button (click)="showInfo(link)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </div>
</div>
